#dropdown-basic{
    background-color: initial;
    /* border: ivory; */
    color: #343a40;
    border-color: #343a40  !important;
    color: white; 
}
.show > .btn-success.dropdown-toggle{
    border-color: #343a40 !important;
    /* background-color: #343a40 !important; */
}



.change-color:hover{
    background: black !important;
    color: white !important;
}